.spin__box {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spin {
    color: #ffa01c;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

.navigate__link {
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: black solid 2px;
    padding: 3px;
}

.navigate__link:hover{
    color: dodgerblue;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    border-color: dodgerblue;
}

.main {
    border: solid 1px red;
}

.main__wrapper {
    border: dodgerblue solid 1px;
}

.main__filterField {
    margin-top: 30px;
    margin-bottom: 30px;

}

.main__filterField__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main__filterField__wrapper__checkbox {
    width: 100px;
    font-weight: bolder;
}

.main__filterField__wrapper__select {
    margin-right: 20px;
}

.main__filterField__wrapper__input {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.colors__phones {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.colors__phones__color {
    margin: 10px;
}

.reviews__name {
    font-weight: bolder;
}

.reviews__rate {
    font-weight: bolder;
}

.cart__page{
    border: solid 1px red;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.button{
    margin-bottom: 10px;
    margin-top: 10px;
}

.button__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cart__page__wrapper{
    border: dodgerblue solid 1px;
    max-width: 800px;
    overflow: auto;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
